USE [master]
GO
/****** Object:  Database [dbikhlas]    Script Date: 10/12/2018 22:00:44 ******/
CREATE DATABASE [dbikhlas] ON  PRIMARY 
( NAME = N'dbikhlas', FILENAME = N'D:\utsVB_ikhlasagung\dbikhlas.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbikhlas_log', FILENAME = N'D:\utsVB_ikhlasagung\dbikhlas_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbikhlas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbikhlas]
GO
/****** Object:  Table [dbo].[Trequest]    Script Date: 10/12/2018 22:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trequest](
	[RequestId] [int] NOT NULL,
	[Namerequestor] [nchar](30) NULL,
	[RequestorId] [nchar](15) NULL,
	[Unit] [nchar](15) NULL,
	[DateIssue] [date] NULL,
	[UnitDestination] [nchar](15) NULL,
	[acRegis] [nchar](15) NULL,
	[Transportation] [nchar](30) NULL,
	[Phone] [nchar](15) NULL,
	[Instruction] [text] NULL,
 CONSTRAINT [PK_Trequest] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
